@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

:root {
    --green: #048853;
    --bg-icon: #00985B;
    --bg-color : #2D3250;
    --second-color :#424769;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #f3fff4;
}

.navbar {
    z-index: 3;
}

* {
    z-index: 2;
}

.aksen-img {
    z-index: 1;
}

.img-hero {
    z-index: 1;
}
.nav-col {
    background-color: var(--second-color);
    transition: all ease-in-out .5s;
}
.bg-transparent {
    transition: all ease-in-out .5s;
}
/* nav */
.button-primary {
    width: 133px;
    height: 40px;
    background-color: transparent;
    color: #f3fff4;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.button-secondary {
    width: 133px;
    height: 40px;
    background-color: #fff;
    color: var(--second-color);
    border: none;
    font-size: 16px;
    font-weight: 400;
}

#hero {
    background: var(--bg-color);
    height: 100vh;
    width: 100%;
}

#img-hero {
    height: 100%;
}

.hero-tagline h1 {
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}
.hero-tagline .sh1 {
    font-family: 'Moirai One', system-ui;
}
.hero-tagline p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 60px;
}
.button-lg-primary {
    width: 237px;
    height: 70px;
    background-color: #fff;
    color: var(--bg-color);
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

#services {
    margin-bottom: 173px;
}

#services h2 {
    color: var(--bg-color);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
}

.sub {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.card-layanan {
    width: 100%;
    height: 313px;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.5);
}

.circle {
    width: 70px;
    height: 70px;
    background-color: var(--second-color);
    border-radius: 50%;
}
.circle img {
    width: 50px;
}
.card-layanan h3 {
    color: var(--second-color);
    font-size: 24px;
}

.card-layanan p {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-layanan:hover {
    background: var(--second-color)
}

.card-layanan:hover .circle {
    background-color: #fff;
}

.card-layanan:hover h3 {
    color: #fff
}

.card-layanan:hover p {
    color: #fff;
}

#search {
    background-image: url(asset/images/bgim/image\ 15.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#search h2 {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#search p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-cari {
    height: 88px;
}

.input-cari .button-secondary {
    width: 200px;
    height: 88px;
    background-color: rgba(225, 225, 225, 0.5);
    color: var(--second-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-cari .button-primary {
    width: 135px;
    height: 88px;
    background-color: var(--second-color);
    border: none;
    font-size: 30px;
    border-radius: 0 10px 0 10px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    background-color: rgba(225, 225, 225, 0.5);
    color: #000;
    border: none;
    border-radius: 0 0 0 0;
}

.nav-tabs .nav-link.active {
    background-color: rgba(225, 225, 225, 0.8);
    color: var(--second-color);
    font-weight: 500;
    border-radius: 9px 0 0 0;
}

.recomen-tit {
    color: var(--bg-color);
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}
#Allgallery {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color : var(--bg-color)
}

.card {
    height: 460px;
    width: 85%;
    border: none;
    transition: 0.1s ease;
}

.card-body h4 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: .8rem;
}

.card-body p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main h4 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: .8rem;
}

.main p {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-fas {
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
}

.card-fas span {
    font-weight: 500;
    margin-top: 18px;
    color: #000;
}

.card-fas p {
    font-size: 12px;
}

.card:hover {
    background: var(--second-color);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
    transition: 0.8s ease;
}

.card:hover .card-body h4 {
    color: #fff;
}

.card:hover .card-body p {
    color: #FFF;
}

#gallery h2 {
    font-size: 48px;
    color: var(--second-color);
}

.fit-but {
    width: 238px;
    height: 63px;
    background-color: var(--second-color);
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-decoration : none;
    color: #FFF;
}

.card-fitur h5 {
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
}

.card-fitur span {
    color: #FFF;
    font-size: 14px;
}

.card-fitur h6 {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.card-fitur button {
    background-color: var(--second-color);
    color: #FFF;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
}

.card-fitur .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all .8s;
}

.card-fitur .overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.kiri {
    border: none;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background-color: var(--second-color);
    padding: 0;
}

.kanan {
    border: none;
    border-radius: 50%;
    width: 61px;
    height: 61px;
    background-color: var(--second-color);
    padding: 0;
}

#contact {
    background-image: url(asset/images/bgim/rumput.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 158px;
}

#contact .overlay {
    background: rgba(0, 0, 0, 0.50);
}

#contact .container {
    padding: 148px 0;
}

#contact h3 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 441px;
}

#contact h6 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.kontak a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin-left: 16px;
    display: inline-block;
}
.card-con {
    background-color: #fff;
    width: 100%;
    height: 445px;
    padding: 52px 48px;
    border-radius: 5px;
}
.card-con h2 {
    color: #00985B;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}
.bg-color {
    background: #C4C4C4;
    border-radius: 0;
    height: 75px !important; 
}
.form-floating .text-col {
    color: #717171;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px;
}
.button-con {
    width: 100%;
    height: 75px;
    border: none;
    background-color: #00985B;
    color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #000;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 4.7px 1rem 4px;
    /* urutannya atas kanan bawah kiri */
    transition: .5s ease;
    text-decoration: none;
  }
.mail:hover {
    background: rgb(185, 2, 2);
    color: #fff;
    box-shadow: 0 0 1rem #001a35;
    text-decoration: none;
  }
  .ig:hover {
    background: radial-gradient(circle, #713ffb 0%, #fc4646);
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1rem 1.3rem #001a35
  }
  .tt:hover {
    background: black;
    color: #fff;
    box-shadow: 0 0 1rem #001a35;
    text-decoration: none;
  }
footer {
    height: 270px;
    width: 100%;
    background: #000;
}
footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
}
.Copyright {
    color: #FFF;
    font-size: 14px;
    bottom: 1%;
}
